<header id="head-box">
  <h1>New-Born, Old-Name</h1>
  <p>Enter a name and press enter to see that name's popularity over the last 100 years!</p>
</header>

<div id="form-box" class="putin">
  <input id="input" type="text" name="word">
  <form action="/" method="get">
    <button id="buto" >Clear</button>
  </form>
</div>

<div id="note-box">
  <p id="notification"></p>
</div>

<div id="canvas-box">
  <canvas id="myChart" width="1500" height="500"></canvas>
</div>